<%- include("partials/header.ejs") %>

<section id="about" class="md-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="text-center mb-4">About Me</h2>
                <div class="text-center">
                    <p class="lead">
                        <i class="fa fa-quote-left fa-lg"></i>
                        I am a passionate developer with a love for creating innovative solutions. I have a strong foundation in programming languages such as Java, Python, and JavaScript, and I am well-versed in various frameworks and libraries, including Spring, Django and Flask.
                        <i class="fa fa-quote-right fa-lg"></i>
                    </p>
                </div>
                <div class="text-center mt-4">
                    <p>Contact me: <a href="mailto:berkekocadere@gmail.com">berkekocadere@gmail.com</a></p>
                    <div class="social-links">
                        <p>Follow me:</p>
                        <a href="https://www.instagram.com/berkekocadere" class="btn btn-outline-light btn-sm mx-1"><i class="fa fa-instagram"></i> Instagram</a>
                        <a href="https://www.linkedin.com/in/berkekocadere" class="btn btn-outline-light btn-sm mx-1"><i class="fa fa-linkedin"></i> LinkedIn</a>
                        <a href="https://github.com/darkestsoul99" class="btn btn-outline-light btn-sm mx-1"><i class="fa fa-github"></i> GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>
